.container {
    width: 100vw;
    /* background-color: #322E2D;
  background-image: url('/images/bg.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}