.gridContainer {
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-content: space-between;
    width: 70vw;
    margin-left: 2vw;
}

.headerText {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 3em;
}