.container {
    /* width: 100vw; */
    /* height: ; */
    background-color: #322E2D;
    background-image: url('/images/about-bg.webp');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 10vh 0;
}

.profileImage {
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.texts h1 {
    margin: 0 0;
    font-size: 3rem;
    font-weight: 700;
    color: #2EC0BF;
}

.texts h4 {
    margin: 10px 0;
    color: #e4e4e4;
    font-weight: 300;
}

.skillHeaderText {
    composes: headerText from './AboutSection.module.css'
}

.skillMain {
    border-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}