.container {
    min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  background-color: #322E2D;
  background-image: url('/images/bg.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #ffffff;
    font-weight: 700;
    font-size: 4rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contactText {
    color: #f2f2f2;
    font-weight: 400;
    font-size: 1.5rem;
}